<img src="/assets/burgers.jpg" alt="Logo" class="CompanyLogo">


<h1 class="appName">Eat-Da-Burger!</h1>



<ul class="containerTwo">
  <h2 class="h2-header">Burgers ordered</h2>
  {{#each burgers}}
  {{#unless devoured }}
  <h2 class="orderedBurgers">{{this.burger_name}} <button class="devoured" data-id="{{this.id}}">Devoured</button></h2>
  {{/unless}}
  {{/each}}
</ul>


<ul class="container">
  <h2 class="titleDevoured">Burgers Devoured</h2>
  {{#each burgers}}
  {{#if devoured }}
  <h2 class="devouredBurgers">{{this.burger_name}} <button class="deleteBurgers" data-id="{{this.id}}">Delete Burger</button></h2>
  {{/if}}
  {{/each}}
</ul>


<form class="create-form">
  {{burger_name}}
  <div class="form-group">
    <input type="text" id="userInput" placeholder="Enter a burger">
    <br>
    <button type="submit" class="addBurger" data-id="{{this.id}}">Submit</button>

  </div>
</form>