<h1>Eat-Da-Burger!</h1>


<ul>
  {{#each burgers}}
    {{#unless devoured }}
    <h3>{{burger_name}}</h3>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>

<ul>

  {{#each burgers}}
    {{#if devoured }}
    <h3>{{burger_name}}</h3>
    {{/if}}
  {{/each}}
</ul>


<form class="create-form">
  {{burger_name}}
    <div class="form-group">
        <label for="userInput"> Eat a burger</label>
        <input type="text"  id="userInput">
    </div>
<br>
    <button type="submit" class="addBurger" data-id="{{this.id}}">Burger added</button>

    	{{!-- <button class="devoured" data-id="{{id}}" data-="{{}}">
		{{#if sleep}}Devoured!{{else}}Not Devoured!{{/if}}
	</button> --}}

    <button class="deleteBurgers" data-id="{{this.id}}">Delete Burgers</button>

</form>