<img src="/assets/burgers.jpg" alt="Logo" class="CompanyLogo">


<h1 class="appName text-center">Eat-Da-Burger!</h1>



<h2 class="h2-header">Burgers just ordered!</h2>
<ul class="containerTwo">
  {{#each burgers}}
  {{#unless devoured }}
  <h3>{{this.burger_name}} <button class="devoured" data-id="{{this.id}}">Devoured!</button></h3>
  {{/unless}}
  {{/each}}
</ul>




<ul class="container">
  <h2 class="titleDevoured"> Burgers Devoured!</h2>
  {{#each burgers}}
  {{#if devoured }}
  <h3>{{this.burger_name}}  <button class="deleteBurgers" data-id="{{this.id}}">Delete Burger</button></h3>
  {{/if}}
  {{/each}}
</ul>


<form class="create-form">
  {{burger_name}}
  <div class="form-group">
    <input type="text" id="userInput" placeholder="Enter a burger">
    <br>
    <button type="submit" class="addBurger" data-id="{{this.id}}">Submit</button>

  </div>



</form>